.theme-1 {
  --primary-color: #1b2021;
  --secondary-color: #e6e3c9;
}
.theme-2 {
  --primary-color: white;
}

.theme-3 {
  --primary-color: #402218;
  --secondary-color: wheat;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: var(--primary-color);
  color: var(--secondary-color);

  overflow-y: scroll;
}
#icon {
  margin-left: 20px;
}
li {
  list-style: none;
}
nav {
  display: flex;
  align-items: stretch;
}

nav ul {
  display: flex;
}
nav ul li {
  margin-right: 20px;
  transition-duration: 0.5s;
}

.dropbtn {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 8px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--primary-color);
  background-color: var(--secondary-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 10px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}

.dropdown-content a:hover {
  background-color: #000000;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #061f58af;
  border-radius: 5px;
}

#newsName {
  text-align: center;
  font-size: 30px;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border-bottom: 2px solid rgb(78, 77, 82);
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}

.card-title {
  margin-bottom: 0.5rem;
  font-size: 25px;
}

.card-text {
  font-size: 18px;
}

.img-card {
  max-width: 100%;
  height: 100%;
  border: 2px rgb(0, 0, 0) solid;
  border-radius: 5px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 2.5vw;
}

@media (min-width: 768px) {
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
}
.alert {
  text-align: center;
  font-size: xx-large;
}
